/* --------------- ޸ Ext CSS -------------- */
/* Ext 2.0 */
*{ font-family:微软雅黑}
.x-window-footer {
    position: relative;
    top: 0;
    right: 0;
}
.x-tab-strip SPAN.x-tab-strip-text  {
	font-size: 13px;
}
.x-panel-header {
	font-size: 13px;
}
.x-tree-node {
	font-size: 13px;
}
.x-grid3-hd-row TD {
	font-size: 13px;
}
.x-grid3-row TD {
	font-size: 13px;
	LINE-HEIGHT: 18px;
}
.x-tip .x-tip-bd {
	font-size: 13px;
}
.x-tip h3{
	font-size: 13px;
}
.x-tip .x-tip-bd-inner{
	font-size:13px;
}
.x-panel-tl .x-panel-header {
	FONT: normal 13px 微软雅黑,tahoma,arial,verdana,sans-serif;
}
.x-form-field {
	FONT: 13px 微软雅黑,tahoma,arial,helvetica,sans-serif	
}
.x-small-editor .x-form-field {
	FONT: 13px 微软雅黑,tahoma,arial,helvetica,sans-serif	
}
.x-combo-list-item {
	FONT: 13px 微软雅黑,tahoma,arial,helvetica,sans-serif;	
}	
.x-menu-list-item {
	FONT: 13px 微软雅黑,tahoma,arial,sans-serif;
}
.x-window-tl .x-window-header {
	FONT: bold 13px 微软雅黑,tahoma,arial,verdana,sans-serif;	
}
.x-layout-split-west .x-layout-mini {	
	BACKGROUND-IMAGE: url(../images/mini-left.jpg);	
}
.ext-ie .x-form-text {
	margin-top:1px;
} /* the textField missing bottom line */
.x-form-item {	
	FONT: 13px 微软雅黑,tahoma,arial,helvetica,sans-serif
}
.x-grid-group-hd DIV {	
	FONT: bold 13px 微软雅黑,tahoma,arial,helvetica,sans-serif;
}

/*ťС Add by extjs.org.cn */
.x-btn-text{
	font: 12px 微软雅黑,tahoma,arial,sans-serif;
}

/* END */
