<div id="sidebar">
      <div id="menu">
          <h3>Web &nbsp Map  </h3>
          <ul>
                  <li {{if $thisapp_f.id==0}} class="on"{{/if}}>--<a  href="{{$syscfg.i}}">Home</a>--</li>
                  <li {{if $thisapp_f.id==10}} class="on"{{/if}}>--<a  href="{{$syscfg.i}}articlelist_i_id_10">Duohuoer</a>--</li>
                  <li {{if $thisapp_f.id==11}} class="on"{{/if}}>--<a  href="{{$syscfg.i}}articlelist_i_id_11">Developer</a>--</li>
                  <li {{if $thisapp_f.id==12}} class="on"{{/if}}>--<a  href="{{$syscfg.i}}articlelist_i_id_12">Designer</a>--</li>
                  <li {{if $thisapp_f.id==13}} class="on"{{/if}}>--<a  href="{{$syscfg.i}}articlelist_i_id_13">Dreamer</a>--</li>
                  <li {{if $thisapp_f.id==14}} class="on"{{/if}}>--<a  href="{{$syscfg.i}}page_i_id_14">About &nbsp Runke</a>--</li>
                  <li >--<a  href="http://weibo.com/drun4">Weibo</a>--</li>
        </ul>   
      </div>
      <div class="firendLink">
      	<h3><a href="{{$syscfg.i}}page_i_id_15">Friend's &nbsp Web</a></h3>
        <ul>
			<li><a href="http://www.duohuo.net/">南京多火网络科技公司</a></li>
            <li><a href="http://www.duohuostudio.com">南京信息工程多火工作室</a></li>		
        </ul>
      </div>
     
      <div class="weibodongtai">
      
      </div>
</div>

